@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto:wght@400;700&display=swap');
@import "tailwindcss";
@import "tailwindcss-primeui";
@import 'primeicons/primeicons.css';

body {
    font-family: 'Roboto', Arial, sans-serif;
}